.grandeDivData{
    color: white;
    text-align: center;
    padding: 50px ;
    width: 50%;
    margin: 30px auto;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}

.DivTools{
    color: white;
    text-align: center;
    padding: 10px ;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}


.divStyle{
    color: white;
    text-align: center;
    padding: 10px ;
    width: 50%;
    margin: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}

.divStyle2{
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}


.DivDataInfo{
    color: white;
    padding: 10px ;
    width: 50%;
    margin: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}

.buuttonAdmin{
    color: white;
    text-align: center;
    padding: 10px ;
    width: 50%;
    margin: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}

.videoSimi{
    color: white;
    display: inline-block;
    padding: 1%;
    margin: 2%;
    text-align: center;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-style: solid;
    border-color: white;
    border-radius:10px;
}

.DivVideoSimi{
    color: white;
    margin: 2%;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}


.DivData{
    color: white;
    padding: 50px ;
    margin: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}



.InfoFile{
    border-right: solid;
}

.cloud{
    color: white;
    text-align: center;
    padding: 50px;
    width: 50%;
    margin: 30px;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}

.v-line{
    border-left: thick solid white;
    height: auto;
    left: 50%;
    position: absolute;
}

.others {
    color:black
}

.description{
    width: 10em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#sigma-container {
    width: 95%;
    height: 500px;
    margin: 30px auto;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color: #E1E1E1
}


.signature {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: #fff;
}
